body {
  background-color: black;
  background-image: url("assets/vn-background.png");
  background-repeat: none;
  background-size: 100%;
  margin: 0px;
}

header {
  background-color: rgb(210, 63, 205);
  border: 8px solid white;
  padding-left: 20px;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  /* position: fixed; */
}

header ul {
  list-style: none;
  display: flex;
  align-items: right;
  position: absolute;
  top: 40px;
  right: 200px;
}

.cart-icon {
  height: 150px;
  width: 150px;
  position: absolute;
  top: -30px;
  margin: 0px;
  padding: 0px;
}

.cart-icon:hover {
  background-color: white;
  border-radius: 90px;
  border: 10px solid rgb(66, 163, 211);
  height: 160px;
  width: 160px;
  position: absolute;
  top: -40px;
}

.cart-product {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.concept-container {
  color: rgb(228, 243, 244);
  padding: 20px;
  font-family: "Cabin", sans-serif;
  font-size: 25px;
}

.movieh1,
.snacksh1 {
  background-color: rgb(210, 63, 205);
  border: 5px solid white;
  padding-left: 30px;
  width: 100% auto;
  font-family: "Rock Salt", cursive;
}
h1 {
  color: white;
  font-size: 30px;
  text-shadow: 3px 3px 1px rgb(66, 163, 211);
}

.movie-container,
.snack-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

div.movie,
div.snack {
  border: 10px solid rgb(210, 63, 205);
  padding: 20px;
  width: 24vh;
  background-color: rgb(228, 243, 244);
  margin: 0px;
  display: flex;
  flex-direction: column;
  font-family: "Cabin", sans-serif;
}

div.movie .title,
div.snack .title {
  font-size: 35px;
  padding: 0px;
  margin: 0px;
}

div.movie .year,
div.movie .genre,
div.movie .movie-price,
div.snack .year,
div.snack .snack-price,
div.snack .calories {
  font-size: 20px;
}

div.snack img,
div.movie img {
  width: 100% auto;
  border: 15px solid white;
  margin: 0px;
}

.snack {
  width: 50vh;
  background-color: white;
}

div.movie button,
div.snack button {
  margin-top: 10px;
  padding: 10px;
  background-color: white;
  width: 100% auto;
  height: 60px;
  font-size: 20px;
  font-family: "Cabin", sans-serif;
  color: rgb(66, 163, 211);
  border: 5px solid rgb(66, 163, 211);
  position: relative;
  bottom: 0px;
}

div.movie button:hover,
div.snack button:hover {
  background-color: rgb(66, 163, 211);
  color: white;
  font-size: 22px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.cash,
.credit,
.cash-btn,
.card-btn,
.card-receipt-info,
.cash-receipt-info {
  display: none;
}
