body {
  background-color: black;
  background-image: url("assets/vn-background.png");
  background-repeat: none;
  background-size: 100%;
  margin: 0px;
}

header {
  background-color: rgb(210, 63, 205);
  border: 8px solid white;
  padding-left: 20px;
  width: 100% auto;
  height: 200px;
  display: flex;
  flex-direction: row;
  margin: 0px;
  /* position: fixed; */
}

.vnsmaller {
  display: flex;
  align-items: center;
  height: 200px;
}

.vnlarger {
  display: none;
}
.cart-icon {
  height: 150px;
  width: 150px;
  position: absolute;
  top: 28px;
  right: 10px;
  margin: 0px;
  padding: 0px;
}

.cart-icon:hover {
  background-color: white;
  border-radius: 90px;
  border: 10px solid rgb(66, 163, 211);
  height: 160px;
  width: 160px;
  position: absolute;
  top: -40px;
}

.concept-container {
  color: rgb(228, 243, 244);
  padding: 25px;
  font-family: "Cabin", sans-serif;
  font-size: 25px;
}

.movieh1,
.snacksh1 {
  background-color: rgb(210, 63, 205);
  border: 5px solid white;
  padding-left: 30px;
  width: 100% auto;
  font-family: "Rock Salt", cursive;
  margin: 0px;
}
h1 {
  color: white;
  font-size: 30px;
  text-shadow: 3px 3px 1px rgb(66, 163, 211);
}

.movie-container,
.snack-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

div.movie,
div.snack {
  border: 10px solid rgb(210, 63, 205);
  padding: 20px;
  width: 40%;
  box-sizing: border-box;
  background-color: rgb(228, 243, 244);
  margin: 0px;
  display: flex;
  flex-direction: column;
  font-family: "Cabin", sans-serif;
  justify-content: space-between;
}

div.movie .title,
div.snack .title {
  font-size: 35px;
  padding: 0px;
  margin: 0px;
}

div.movie .year,
div.movie .genre,
div.movie .movie-price,
div.snack .year,
div.snack .snack-price,
div.snack .calories {
  font-size: 20px;
}

div.movie .movie-description {
  font-size: 18px;
}

div.snack img,
div.movie img {
  width: 100% auto;
  border: 15px solid white;
  margin: 0px;
}

.snack {
  width: 50vh;
  background-color: white;
}

div.movie button,
div.snack button {
  margin-top: 10px;
  padding: 10px;
  background-color: white;
  width: 100% auto;
  height: 60px;
  font-size: 20px;
  font-family: "Cabin", sans-serif;
  color: rgb(66, 163, 211);
  border: 5px solid rgb(66, 163, 211);
  position: relative;
  bottom: 0px;
}

div.movie button:hover,
div.snack button:hover {
  background-color: rgb(66, 163, 211);
  color: white;
  font-size: 22px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
  background-color: #e4d1e4;
  margin: auto;
  padding: 20px;
  padding-top: 0px;
  border: 1px solid #888;
  width: 80%;
  border: 10px solid rgb(66, 163, 211);
  font-size: 25px;
  font-family: "Cabin", sans-serif;
  color: rgb(66, 163, 211);
}

.close-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
/* The Close X Button */
.close {
  color: #aaaaaa;
  font-size: 50px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.cart-products img {
  border: 5px solid rgb(66, 163, 211);
}

.cart-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border: 5px solid rgb(66, 163, 211);
  padding-left: 5px;
  padding-right: 5px;
}

.remove-item {
  background-color: white;
  font-family: "Cabin", sans-serif;
  color: rgb(66, 163, 211);
  border: 5px solid rgb(66, 163, 211);
  height: 40px;
}

button.checkout-button:hover,
.remove-item:hover,
.cash-btn:hover,
.card-btn:hover,
.order-button:hover {
  background-color: rgb(66, 163, 211);
  color: white;
}

p.subtotal {
  display: flex;
  justify-content: center;
  background-color: white;
  border: 5px solid rgb(66, 163, 211);
  padding: 10px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.checkout-container {
  display: flex;
  justify-content: flex-end;
}
button.checkout-button {
  display: flex;
  justify-content: flex-end;
  background-color: white;
  font-family: "Cabin", sans-serif;
  font-size: 25px;
  color: rgb(66, 163, 211);
  border: 5px solid rgb(66, 163, 211);
  height: 50px;
  padding: 10px;
  align-items: center;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.cash,
.credit,
.cash-btn,
.card-btn,
.cash-off,
.card-off {
  display: none;
}

.cash-btn,
.card-btn,
.place-order-container {
  background-color: white;
  font-family: "Cabin", sans-serif;
  color: rgb(66, 163, 211);
  border: 5px solid rgb(66, 163, 211);
  width: 100%;
  height: 50px;
  font-size: 30px;
}
.order-button {
  background-color: white;
  font-family: "Cabin", sans-serif;
  color: rgb(66, 163, 211);
  border: 5px solid rgb(66, 163, 211);
  width: 100%;
  height: 50px;
  font-size: 30px;
}

.cash,
form.credit {
  font-size: 25px;
}

/* .receipt-container {
  background-color: rgb(228, 243, 244);
  padding: 30px;
  border: 5px solid rgb(66, 163, 211);
} */

@media only screen and (min-device-width: 860px) {
  header {
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .vnsmaller {
    display: none;
  }
  .vnlarger {
    display: flex;
    align-items: center;
  }
  .cart-icon {
    height: 200px;
    width: 200px;
    position: absolute;
    top: 45px;
    right: 20px;
    margin: 0px;
    padding: 0px;
  }

  .cart-icon:hover {
    background-color: white;
    border-radius: 90px;
    border: 10px solid rgb(66, 163, 211);
    height: 200px;
    width: 200px;
    position: absolute;
    top: 45px;
    right: 10px;
    margin: 0px;
    padding: 0px;
  }
  div.movie,
  div.snack {
    width: 24vh;
  }
  .modal-content {
    width: 50%;
  }
}

@media only screen and (max-device-width: 600px) {
  div.movie,
  div.snack {
    width: 90%;
  }
}
